*{
    margin: 0;
    padding: 0;
    
  }


.colorHeader{
    background-color: rgb(161, 15, 15);
    
}

h5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}



.imgCarousel {
  height: 500px;
  -o-object-fit: fill;
     object-fit: fill;
}

button{
    border: 1px solid rgb(27, 61, 216); 
  padding: 10px; 
  background-color:  rgb(27, 61, 216); 
  color: #ffffff; 
  text-decoration: none; 
  text-transform: uppercase; 
  font-family: 'Helvetica', sans-serif; 
  border-radius: 50px; 
  
  
  }

  .logo {
    height: 80px;
    margin-bottom: 1rem;
  }

  .colorFooter{
    background-color: rgb(161, 15, 15);
  }