*{
    margin: 0;
    padding: 0;
    
  }


.colorHeader{
    background-color: rgb(161, 15, 15);
    
}

button{
    border: 1px solid rgb(27, 61, 216); 
  padding: 10px; 
  background-color:  rgb(27, 61, 216); 
  color: #ffffff; 
  text-decoration: none; 
  text-transform: uppercase; 
  font-family: 'Helvetica', sans-serif; 
  border-radius: 50px; 
  
  }